body {
  font-family: 'Tahoma';
  color: #333333;
  font-size: 12px;
}

textarea {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  resize: none;
}

a, a:visited, a:hover, a:active, a:focus {
  color: #388cff;
}

.showOnDarkMode {
  display: none;
}

.redWarning {
  font-family: 'Kanit', sans-serif;
  color: #d10000;
}

.warningBox {
  color: brown;
  background: lightyellow;
  max-width: 500px; 
  padding: 5px;
}

/* Dark Theme */

  body[data-theme="dark"] .showOnDarkMode {
    display: block;
  }
  body[data-theme="dark"] .showOnDarkMode.inline {
    display: inline-block;
  }
  body[data-theme="dark"] {
    background: #333333;
    color: whitesmoke;
  }
  body[data-theme="dark"] textarea {
    background: gray;
    color: whitesmoke;
  }
  body[data-theme="dark"] textarea::placeholder {
    color: rgb(200, 200, 200);
  }
  body[data-theme="dark"] .redWarning {
    color: #df2d2d;
  }
  body[data-theme="dark"] .warningBox {
    color: #753b00;
    background: #c0c0a8;
  }


@media print {

  body {
    background: white;
    color: #333333;
  }
  .hideOnPrint {
    display: none;
  }
  #KUTable-container {
    min-width: 1366px;
  }
}