textarea {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  resize: none;
}

#scheduler-wrapper-title, #timeline2 .major {
  font-family: 'Kanit';
}
#timeline2 .major {
  font-size: 12px;
}
#scheduler1, #scheduler2, #scheduler3, #scheduler4, #scheduler5, #scheduler6, #scheduler7 {
  height: 80px;
}

@media print {
  #introduction {
    display: none;
  }
  #KUTable-container {
    min-width: 1366px;
  }
}